{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Iris Tumor Detector{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'detection/css/styles.css' %}">
</head>
<body>

    <!-- Background video element -->
    <video autoplay muted loop class="background-video" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">
        <source src="{% static 'detection/videos/Backgroundvideo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <header style="color: white; position: relative; z-index: 2;">
        <h1>Welcome to Iris Tumor Detector</h1>
        <p>Iris tumor detection uses imaging and AI to identify tumors in the eye's iris.</p>
        <div>
            <img src="{% static 'detection/images/your-image.jpg' %}" alt="Iris Tumor Detection Image" width="300" height="200">
        </div>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'upload_image' %}">Upload Image</a> |
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'register' %}">Register</a> |
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
        <h1>How To Use</h1>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>1. Registration:</strong> Register and Login To The Portal</li>
            <li><strong>2. Upload Eye Image:</strong> Ensure the iris is in focus.</li>
            <li><strong>3. View Analysis:</strong> Tumor areas will be highlighted.</li>
            <li><strong>4. Consult Results:</strong> It gives Results Yes/No Tumor.</li>
        </ul>
        <p>2023 My Django Project. All rights reserved.</p>
    </header>

    <!-- Messages Section -->
    {% if messages %}
        <div class="messages">
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <main class="main-content" style="position: relative; z-index: 1; color: white; padding: 20px;">
        {% block content %}{% endblock %}
    </main>

</body>
</html>

